In [2]:
# importing modules

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# importing the dataset
dataset = pd.read_csv('/Users/vgaur/Tution/WorldCupMatches.csv')

In [7]:
dataset.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [9]:
dataset.shape     #show the number of observation and features

(4572, 20)

In [10]:
dataset.tail()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
dataset.columns     #gives the list of columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

In [14]:
len(dataset.columns)

20

In [15]:
dataset.index

RangeIndex(start=0, stop=4572, step=1)

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
Year                    852 non-null float64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null float64
Away Team Goals         852 non-null float64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null float64
Half-time Away Goals    852 non-null float64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null float64
MatchID                 852 non-null float64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

In [17]:
dataset.describe()

,Year,Home Team Goals,Away Team Goals,Attendance,Half-time Home Goals,Half-time Away Goals,RoundID,MatchID
count,852.000000,852.000000,852.000000,850.000000,852.000000,852.000000,8.520000e+02,8.520000e+02
mean,1985.089202,1.811033,1.022300,45164.800000,0.708920,0.428404,1.066177e+07,6.134687e+07
std,22.448825,1.610255,1.087573,23485.249247,0.937414,0.691252,2.729613e+07,1.110572e+08
min,1930.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,2.010000e+02,2.500000e+01
25%,1970.000000,1.000000,0.000000,30000.000000,0.000000,0.000000,2.620000e+02,1.188750e+03
50%,1990.000000,2.000000,1.000000,41579.500000,0.000000,0.000000,3.370000e+02,2.191000e+03
75%,2002.000000,3.000000,2.000000,61374.500000,1.000000,1.000000,2.497220e+05,4.395006e+07
max,2014.000000,10.000000,7.000000,173850.000000,6.000000,5.000000,9.741060e+07,3.001865e+08

In [20]:
dataset.mean

<bound method DataFrame.mean of         Year              Datetime    Stage         Stadium         City  \
0     1930.0  13 Jul 1930 - 15:00   Group 1         Pocitos  Montevideo
1     1930.0  13 Jul 1930 - 15:00   Group 4  Parque Central  Montevideo
2     1930.0  14 Jul 1930 - 12:45   Group 2  Parque Central  Montevideo
3     1930.0  14 Jul 1930 - 14:50   Group 3         Pocitos  Montevideo
4     1930.0  15 Jul 1930 - 16:00   Group 1  Parque Central  Montevideo
...      ...                   ...      ...             ...          ...
4567     NaN                   NaN      NaN             NaN          NaN
4568     NaN                   NaN      NaN             NaN          NaN
4569     NaN                   NaN      NaN             NaN          NaN
4570     NaN                   NaN      NaN             NaN          NaN
4571     NaN                   NaN      NaN             NaN          NaN

     Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
0            France              4.0              1.0         Mexico
1               USA              3.0              0.0        Belgium
2        Yugoslavia              2.0              1.0         Brazil
3           Romania              3.0              1.0           Peru
4         Argentina              1.0              0.0         France
...             ...              ...              ...            ...
4567            NaN              NaN              NaN            NaN
4568            NaN              NaN              NaN            NaN
4569            NaN              NaN              NaN            NaN
4570            NaN              NaN              NaN            NaN
4571            NaN              NaN              NaN            NaN

     Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
0                        4444.0                   3.0                   0.0
1                       18346.0                   2.0                   0.0
2                       24059.0                   2.0                   0.0
3                        2549.0                   1.0                   0.0
4                       23409.0                   0.0                   0.0
...             ...         ...                   ...                   ...
4567            NaN         NaN                   NaN                   NaN
4568            NaN         NaN                   NaN                   NaN
4569            NaN         NaN                   NaN                   NaN
4570            NaN         NaN                   NaN                   NaN
4571            NaN         NaN                   NaN                   NaN

                     Referee               Assistant 1  \
0     LOMBARDI Domingo (URU)     CRISTOPHE Henry (BEL)
1          MACIAS Jose (ARG)  MATEUCCI Francisco (URU)
2        TEJADA Anibal (URU)   VALLARINO Ricardo (URU)
3      WARNKEN Alberto (CHI)       LANGENUS Jean (BEL)
4        REGO Gilberto (BRA)      SAUCEDO Ulises (BOL)
...                      ...                       ...
4567                     NaN                       NaN
4568                     NaN                       NaN
4569                     NaN                       NaN
4570                     NaN                       NaN
4571                     NaN                       NaN

                     Assistant 2  RoundID  MatchID Home Team Initials  \
0            REGO Gilberto (BRA)    201.0   1096.0                FRA
1          WARNKEN Alberto (CHI)    201.0   1090.0                USA
2            BALWAY Thomas (FRA)    201.0   1093.0                YUG
3       MATEUCCI Francisco (URU)    201.0   1098.0                ROU
4     RADULESCU Constantin (ROU)    201.0   1085.0                ARG
...                          ...      ...      ...                ...
4567                         NaN      NaN      NaN                NaN
4568                         NaN      NaN      NaN                NaN
4569                         NaN      NaN      NaN                NaN
4570                         NaN      NaN      NaN                NaN
4571                         NaN      NaN      NaN                NaN

     Away Team Initials
0                   MEX
1                   BEL
2                   BRA
3                   PER
4                   FRA
...                 ...
4567                NaN
4568                NaN
4569                NaN
4570                NaN
4571                NaN

[4572 rows x 20 columns]>

In [21]:
dataset.isnull().sum()

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

In [22]:
dataset.shape

(4572, 20)

In [23]:
3720 / 4572*100

81.36482939632546

In [24]:
data = dataset.dropna(inplace = False) #droping the all NaN / Missing data

In [25]:
dataset.shape

(4572, 20)

In [26]:
data.shape

(850, 20)

In [27]:
data.isnull().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [28]:
data.shape

(850, 20)

In [29]:
int(dataset['Year'].mean())

1985

In [30]:
dataset.isnull().sum()

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

In [31]:
dataset['Year'].tail()

4567   NaN
4568   NaN
4569   NaN
4570   NaN
4571   NaN
Name: Year, dtype: float64

In [35]:
dataset.describe()

,Year,Home Team Goals,Away Team Goals,Attendance,Half-time Home Goals,Half-time Away Goals,RoundID,MatchID
count,4572.000000,852.000000,852.000000,850.000000,852.000000,852.000000,8.520000e+02,8.520000e+02
mean,1985.016623,1.811033,1.022300,45164.800000,0.708920,0.428404,1.066177e+07,6.134687e+07
std,9.686248,1.610255,1.087573,23485.249247,0.937414,0.691252,2.729613e+07,1.110572e+08
min,1930.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,2.010000e+02,2.500000e+01
25%,1985.000000,1.000000,0.000000,30000.000000,0.000000,0.000000,2.620000e+02,1.188750e+03
50%,1985.000000,2.000000,1.000000,41579.500000,0.000000,0.000000,3.370000e+02,2.191000e+03
75%,1985.000000,3.000000,2.000000,61374.500000,1.000000,1.000000,2.497220e+05,4.395006e+07
max,2014.000000,10.000000,7.000000,173850.000000,6.000000,5.000000,9.741060e+07,3.001865e+08

In [33]:
dataset['Year'].replace(np.NaN, int(dataset['Year'].mean()), inplace= True)    #replacing the NaN with mean

In [38]:
dataset['Home Team Goals'].replace(np.NaN, int(dataset['Home Team Goals'].mean()), inplace= True)

In [41]:
dataset['Away Team Goals'].replace(np.NaN, int(dataset['Away Team Goals'].mean()), inplace= True)

In [44]:
dataset['Attendance'].replace(np.NaN, int(dataset['Attendance'].mean()), inplace= True)

In [46]:
dataset['Half-time Home Goals'].replace(np.NaN, int(dataset['Half-time Home Goals'].mean()), inplace= True)

In [47]:
dataset['Half-time Away Goals'].replace(np.NaN, int(dataset['Half-time Away Goals'].mean()), inplace= True)

In [34]:
dataset['Year'].tail()

4567    1985.0
4568    1985.0
4569    1985.0
4570    1985.0
4571    1985.0
Name: Year, dtype: float64

In [48]:
dataset.tail()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4567,1985.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,45164.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,1985.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,45164.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,1985.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,45164.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,1985.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,45164.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,1985.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,45164.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
dataset.isnull().sum()

Year                       0
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals            0
Away Team Goals            0
Away Team Name          3720
Win conditions          3720
Attendance                 0
Half-time Home Goals       0
Half-time Away Goals       0
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

In [51]:
dataset.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [56]:
dataset.loc[]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER